[core]
  # converts CRLF to LF on commit
  autocrlf = input

[init]
  defaultBranch = main

[user]
  name = Calle Stålhem
  email = carl@stalhem.se

{{- if eq .chezmoi.hostname "m1-mbp" }}
  # Set signing key for Git on m1-mbp
  signingkey = /Users/cstalhem/.ssh/id_ed25519.pub
{{- end }}

{{- if eq .chezmoi.hostname "srv1" }}
  # Set signing key for Git on srv1
  signingkey = /home/calle/.ssh/id_rsa.pub
{{- end }}

[credential "https://dev.azure.com"]
  useHttpPath = true
  username = carl.stalhem@b3.se

[gpg]
  format = ssh

[commit]
  gpgsign = true

[fetch]
  # auto-removes deleted remote branches
  prune = true

[push]
  # pushes current branch to same name on remote
  default = current
  # auto-tracks remote branch on first push
  autoSetupRemote = true

[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true
